.blog-content-wrapper { 
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px; 
    padding-right: 20px; 
    box-sizing: border-box;
}